/* This is a working setup for importing Tailwind CSS v4 and DaisyUI v5 */
/* Please do not change */
@import "tailwindcss";
@import "tw-animate-css";

/*
  Followings are setting default theme and dark theme.
  Availabe themes can be found at https://daisyui.com/docs/themes/.
  After you changed the themes, you should also update config/theme.ts file.
*/
@plugin "daisyui" {
  themes: corporate --default, business --prefersdark;
}
/* End of imports for Tailwind CSS v4 and DaisyUI v5 */

/* Custom styles */
:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}
